li.collectionItem {
    padding: 10px;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
}
.material-icons{
  cursor: pointer;
  margin-left: 5px;
}
.material-icons:hover{
  color: red
}
a {
  color: #4ba1bb;
}
.vote-box {
  display: flex;
  align-items: center;
}
